<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AzureArtifacts" value="https://dev.azure.com/DevopsCoursek190169/DevopsProject_eShopOnWeb(k190169)/_artifacts/feed/DevopsProjectArtifact" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
